[CLOTHING_SMALL_RESNET_SGD] 
NUM_EPOCHS = 10
NUM_CLASSES = 19
BATCH_SIZE = 128
# validation_steps := dataset_testing / num batch = 1900 / 128
VALIDATION_STEPS = 14
LEARNING_RATE = 0.2
#decay_steps := tamaño del dataset / tamaño de batches
DECAY_STEPS = 249
#Donde guardo los modelos
SNAPSHOT_DIR = ./models
DATA_DIR = .
CHANNELS=3
IMAGE_TYPE = IMAGE
IMAGE_WIDTH = 224
IMAGE_HEIGHT = 224
SHUFFLE_SIZE = 10000
#CKPFILE = ./snapshots_4/imagenet_045.h5
#USE_MULTITHREADS = False
#NUM_THREADS = 12
#CKPFILE = ./models/020.h5